<div class="container mx-auto p-8 text-center">
  <h2 class="text-3xl text-green-600 font-extrabold mb-6">Datos de la empresa</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="bg-white p-6 rounded-lg shadow-lg">
      <h3 class="text-xl font-semibold mb-4">Nombre de la empresa</h3>
      <p class="text-gray-600"><strong>Gamitas Inc.</strong></p>
    </div>

    <div class="bg-white p-6 rounded-lg shadow-lg">
      <h3 class="text-xl font-semibold mb-4">Dueño</h3>
      <p class="text-gray-600"><strong>Juan Pérez</strong></p>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
    <div class="bg-white p-6 rounded-lg shadow-lg">
      <h3 class="text-xl font-semibold mb-4">Misión</h3>
      <p class="text-gray-600">Proveer semillas de alta calidad para fomentar la agricultura sostenible y la producción responsable.</p>
    </div>

    <div class="bg-white p-6 rounded-lg shadow-lg">
      <h3 class="text-xl font-semibold mb-4">Visión</h3>
      <p class="text-gray-600">Ser reconocidos como líderes en la industria de semillas a nivel nacional e internacional, promoviendo prácticas agrícolas responsables.</p>
    </div>
  </div>

  <div class="grid grid-cols- md:grid-cols-2 gap-6 mt-6">
    <div class="bg-white p-6 rounded-lg shadow-lg">
      <h3 class="text-xl font-semibold mb-4">Ubicación</h3>
      <p class="text-gray-600">Dirección: Calle Ficticia 123, Ciudad Ejemplo, País</p>
      <h3 class="text-xl font-semibold mb-4 mt-4">Correo</h3>
      <p class="text-gray-600"><strong>{{empresa}}</strong></p>
    </div>
    <div class="bg-white p-6 rounded-lg shadow-lg">
      <h3 class="text-xl font-semibold mb-4">Sucursales</h3>
      <ul class="list-disc pl-6">
        <li>349 Los Bravo, Cuautla, Morelos</li>
        <li>Libramiento Cuautla-Oaxaca S/N Juan Morales, Cuautla, Mor.</li>
        <li>Hidalgo 20, Santa Rosa, Oaxtepec, Mor.</li>
      </ul>
    </div>
  </div>
</div>

